{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block page_css %}
    <link href="/static/vendor/chartjs/css/Chart.css"
          rel="stylesheet" crossorigin="anonymous">
{% endblock %}

{% block content %}
<h1>EnviroMon Dashboard</h1>

<div class="card-deck pb-4 mt-1">
    <div class="card">
        <h2 class="card-header">Device Load</h2>
        <div class="card-body">
            <canvas id="Device-Load_Pie"></canvas>
        </div>
    </div>
    <div class="card">
        <h2 class="card-header">Temperature Bar</h2>
        <div class="card-body">
            <canvas id="Temperature-Bar"></canvas>
        </div>
    </div>
</div>
<div class="card-deck pb-4">
    <div class="card">
        <h2 class="card-header">Pressure Bar</h2>
        <div class="card-body">
            <canvas id="Pressure-Bar"></canvas>
        </div>
    </div>

    <div class="card">
        <h2 class="card-header">Humidity Bar</h2>
        <div class="card-body">
            <canvas id="Humidity-Bar"></canvas>
        </div>
    </div>
</div>
{% endblock %}

{% block page_scripts %}
<script src ="/static/vendor/chartjs/js/Chart.bundle.js"></script>
<script>
        var chartCanvas1 = document.getElementById('Device-Load_Pie')
            labels: ['Cpu Usage','Idle'],
            datasets: [{
                data: [36,64],
                borderWidth: 1,
                borderAlign: 'inner',
                backgroundColor: [
                    'rgba(239, 214, 172, 0.5)',
                    'rgba(196, 73, 0, 0.5)',
                ],
                borderColor: [
                    'rgba(239, 214, 172, 1)',
                    'rgba(196, 73, 0, 1)',
                ],
            }],
        }

        var barOptions = {}

        var myChart1 = new Chart(chartCanvas1, {
            type: 'pie',
            data: barData,
            options: barOptions,
        })
</script>
<script>
        var chartCanvas1 = document.getElementById('Pressure-Bar')
        var barData = {
            datasets: [{
                label: 'Current',
                data: [22.4],
                borderWidth: 1,
                backgroundColor: [
                    'rgba(67, 37, 52, 0.4)',
                ],
                borderColor: [
                    'rgba(67, 37, 52, 1)',
                ],
            }],
        }

        var barOptions = {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                    },
                }],
            },
        }

        var myChart1 = new Chart(chartCanvas1, {
            type: 'bar',
            data: barData,
            options: barOptions,
        })
    </script>
<script>
        var chartCanvas1 = document.getElementById('Temperature-Bar')
        var barData = {
            datasets: [{
                label: 'Current',
                data: [35.6],
                borderWidth: 1,
                backgroundColor: [
                    'rgba(24, 58, 55, 0.4)',
                ],
                borderColor: [
                    'rgba(24, 58, 55, 1)',
                ],
            }],
        }

        var barOptions = {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                    },
                }],
            },
        }

        var myChart1 = new Chart(chartCanvas1, {
            type: 'bar',
            data: barData,
            options: barOptions,
        })
    </script>
<script>
        var chartCanvas1 = document.getElementById('Humidity-Bar')
        var barData = {
            datasets: [{
                label: 'Current',
                data: [22.4],
                borderWidth: 1,
                backgroundColor: [
                    'rgba(4, 21, 31, 0.4)',
                ],
                borderColor: [
                    'rgba(4, 21, 31, 1)',
                ],
            }],
        }

        var barOptions = {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                    },
                }],
            },
        }

        var myChart1 = new Chart(chartCanvas1, {
            type: 'bar',
            data: barData,
            options: barOptions,
        })
    </script>

{% endblock %}